﻿@model Prime.Models.ViewModels.AddTasksModel
@using Prime.Models

<h1>Add Task</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Title</label>
        <input type="text" class="form-control" asp-for="Title">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Description</label>
        <input type="text" class="form-control" asp-for="Description">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Assignee</label>
        <input type="text" class="form-control" asp-for="Assignee">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
