﻿@model List<Prime.Models.Tasks>

<h1>Tasks</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Assignee</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.Assignee</td>
                <td><a href="Tasks/Update/@task.Id">Update</a></td>
            </tr>
        }
    </tbody>
</table>