﻿@model Prime.Models.ViewModels.AddEmployeeModel

<h1>Add Employee</h1>
<form method="post" action="Add" class="mt-5">
  <div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control" asp-for="Name">
  </div>
    <div class="mb-3">
        <label for="" class="form-label">Email Address</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Phone Number</label>
        <input type="text" class="form-control" asp-for="PhoneNumber">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">MonthlySalary</label>
        <input type="number" class="form-control" asp-for="MonthlySalary">
    </div>
     <div class="mb-3">
        <label for="" class="form-label">Date of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Task</label>
        <input type="text" class="form-control" asp-for="AssignedTask">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
